<template>
	<div>
		<my-self></my-self>
	</div>
</template>
<script>
export default{
	data(){
		return{
			msg:"ss",
			list:{
				name:['1',"2","3"]
			}
		}
	},
	components:{
		"my-self":{
				template:"<div>my name fmm </div>"
			}
		}
	}
</script>