<template>
		<ol>
			<li>{{contents[getInd]}}</li>
		</ol>
</template>
<script>
import {mapGetters} from "vuex";
import {mapActions} from "vuex";
	export default{
		props:['contents'],
		data(){
			return {
			}
		},
		computed:{
			...mapGetters(['getInd'])
		}
	}
</script>
<style scoped>
	.dv ol{
		width: 1194px;
		height: 154px;
		}
	.dv ol li{
			float: left;
			width: 398px;
			text-align:center;
			line-height: 154px;
		} 
</style>