<template>
	<div class="games">
		<ul class="uls">
			<li v-for='(item,index) in list' @click="btn(index)" :class='item==""?"active":""'>{{item}}</li>
		</ul>
	</div>
</template>
<script>
	export default{
		 data () {
	        return {
	            list: [],
	            cur:15
	        }
	    },
	    mounted(){
	   		for(var i=1;this.list.length<15;i++){
	   			var num=Math.floor(Math.random()*16+1)
	   			if(this.list.indexOf(num)==-1){
	   				this.list.push(num)
	   			}
	   		}
	   		this.list.push("")
		},
		methods:{
			btn(index){	
					let curNum = this.list[index],
		                leftNum = this.list[index - 1],
		                rightNum = this.list[index + 1],
		                topNum = this.list[index - 4],
		                bottomNum = this.list[index + 4]
		            // 和为空的位置交换数值
		            if (leftNum === '') {
		                this.$set(this.list,index - 1, curNum)
		                this.$set(this.list,index, '')
		            } else if (rightNum === '') {
		                this.$set(this.list,index + 1, curNum)
		                this.$set(this.list,index, '')
		            } else if (topNum === '') {
		                this.$set(this.list,index - 4, curNum)
		                this.$set(this.list,index, '')
		            } else if (bottomNum === '') {
		                this.$set(this.list,index + 4, curNum)
		                this.$set(this.list,index, '')
		            }
		        }
			}
		}
</script>
<style scoped>
	.games{
		height: 400px;
		width: 400px;
		margin: 20px auto;
	}
	.uls{
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		width: 100%;
		height: 398px;
	}
	.uls li{
		height: 100px;
		width: 25%;
		text-align:center;
		line-height: 100px;
		background:rgba(0,0,0,0.8);
		border: 1px solid #ccc;
		box-sizing:border-box;
		color: #fff;
	}
	.uls .active{
		background: cadetblue;
	}
</style>