<template>
  <div class="dv">
  	<mytitle :name="options.name"></mytitle>
  	<contens :contents='options.contents'></contens>
  </div>
</template>
<script>
	import mytitle from './title'
	import contens from './contens'
	import store from '../vuex/store.js'
	export default{
		data(){
			return {
				options:{
					name:['传媒',"云计算","建筑"],
					contents:["1111","2222","3333"]
				}
			}
		},
		components:{
			mytitle,
			contens
		},
		store
	}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	.dv{
		width: 400px;
		height: 200px;
		border: 1px solid #ccc;
		margin: 20px auto;
		overflow: hidden;
	}
</style>
