<template>
		<ul>
			<li v-for='(value,index) in name' @click="change(index)" :class='index==cur?"bg":""'>{{value}}</li>
		</ul>
</template>
<script>
	export default{
		props:['name'],
		data(){
			return{
				index:0,
				cur:0
			}
		},
		methods:{
			change(index){
				this.cur=index
				this.$store.dispatch("changeIndex",index)
			}
		}	
	}
</script>
<style  scoped>
	.dv ul{
		display: -webkit-flex;
		width: 400px;
		height: 44px;
		border-bottom: 1px solid #ccc;
		background: red;
		color: #fff;

	}
	.dv ul li{
		flex:1;
		height: 44px;
		text-align:center;
		line-height: 44px;
	}
	 .dv .bg{
		background: #fff;
		color: #000;
	}
</style>